<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>171966663099-cdtbu99pau61cgjc7auvkhuu1dpdf46a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171966663099-cdtbu99pau61cgjc7auvkhuu1dpdf46a</string>
	<key>API_KEY</key>
	<string>AIzaSyBVgAg9J76twmgiXsopX0KoaekR618-d-8</string>
	<key>GCM_SENDER_ID</key>
	<string>171966663099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kien.UI</string>
	<key>PROJECT_ID</key>
	<string>ios-login-c71ab</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-login-c71ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:171966663099:ios:a4ecc11878953353</string>
	<key>DATABASE_URL</key>
	<string>https://ios-login-c71ab.firebaseio.com</string>
</dict>
</plist>
